
/*  section.best_seeling_products div {
     display: block;
     position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box
 }*/

 .bbb_viewed {
     padding-top: 51px;
     padding-bottom: 60px;
     background: #eff6fa
 }

 .bbb_main_container {
     background-color: #fff;
     padding: 11px
 }

 .bbb_viewed_title_container {
     border-bottom: solid 1px #dadada
 }

 .bbb_viewed_title {
     margin-bottom: 16px;
     margin-top: 8px;
     color: #000;
 }

 .bbb_viewed_nav_container {
       position: absolute;
    right: 31px;
    top: 21px;
 }

 .bbb_viewed_nav {
     display: inline-block;
     cursor: pointer
 }

 .bbb_viewed_nav i {
     color: #dadada;
     font-size: 18px;
     padding: 5px;
     -webkit-transition: all 200ms ease;
     -moz-transition: all 200ms ease;
     -ms-transition: all 200ms ease;
     -o-transition: all 200ms ease;
     transition: all 200ms ease
 }

 .bbb_viewed_nav:hover i {
     color: #606264
 }

 .bbb_viewed_prev {
     margin-right: 15px
 }

 .bbb_viewed_slider_container {
     padding-top: 13px
 }

 .bbb_viewed_item {
     width: 100%;
     background: #FFFFFF;
     border-radius: 2px;
     padding-top: 25px;
     padding-bottom: 25px;
     padding-left: 30px;
     padding-right: 30px
 }

 .bbb_viewed_image {
     width: 150px;
     height: 150px
 }

 .bbb_viewed_image img {
     display: block;
     max-width: 100%
 }

 .bbb_viewed_content {
     width: 100%;
     margin-top: 25px
 }

 .bbb_viewed_price {
     font-size: 16px;
     color: #000000;
     font-weight: 500
 }

 .bbb_viewed_item.discount .bbb_viewed_price {
     color: #df3b3b
 }

 .bbb_viewed_price span {
     position: relative;
     font-size: 12px;
     font-weight: 400;
     color: rgba(0, 0, 0, 0.6);
     margin-left: 8px
 }

 .bbb_viewed_price span::after {
     display: block;
     position: absolute;
     top: 6px;
     left: -2px;
     width: calc(100% + 4px);
     height: 1px;
     background: #8d8d8d;
     content: ''
 }

 .bbb_viewed_name {
     margin-top: 3px
 }

 .bbb_viewed_name a {
     font-size: 14px;
     color: #000000;
     -webkit-transition: all 200ms ease;
     -moz-transition: all 200ms ease;
     -ms-transition: all 200ms ease;
     -o-transition: all 200ms ease;
     transition: all 200ms ease
 }

 .bbb_viewed_name a:hover {
     color: #0e8ce4
 }

 .item_marks {
     position: absolute;
     top: 18px;
     left: 18px
 }

 .item_mark {
     display: none;
     width: 36px;
     height: 36px;
     border-radius: 50%;
     color: #FFFFFF;
     font-size: 10px;
     font-weight: 500;
     line-height: 36px;
     text-align: center
 }

 .item_discount {
     background: #df3b3b;
     margin-right: 5px
 }

 .item_new {
     background: #0e8ce4
 }

 .bbb_viewed_item.discount .item_discount {
     display: inline-block
 }

 .bbb_viewed_item.is_new .item_new {
     display: inline-block
 }
 .services-v7 .row {
    margin:0;
}



 /*hot categories */
 .full-categories {
    background: url(/theme_prixgen/static/src/img/bg-services.png);
    padding-bottom: 60px;
    padding-top: 15px;
  
}


    .full-categories .hot-categories-home {
    padding-top: 30px;
}

    .title-home-page {
    font-size: 133.33%;
    font-weight: 700;
    margin-bottom: 30px;
    color: #444;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    padding-bottom: 3px;
    position: relative;
}
.title-home-page:before {
    content: '';
    width: 100px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.full-categories .sm-categories {
    margin: 0 !important;
    overflow: visible;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-loaded {
    display: block;
}
.owl-carousel {
    direction: ltr;
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px,0px,0px);
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.full-categories .sm-categories .cat-wrap .content-box {
    width: 100% !important;
    padding: 0 !important;
    background-color: #fff;
}
.sm-categories .cat-wrap .content-box {
    overflow: hidden;
    line-height: 20px;
    padding-bottom: 15px;
}
.full-categories .sm-categories .cat-wrap .content-box {
    width: 100% !important;
    padding: 0 !important;
    background-color: #fff;
}
.sm-categories .cat-wrap .content-box {
    overflow: hidden;
    line-height: 20px;
    padding-bottom: 15px;
}
.full-categories .sm-categories .cat-wrap .content-box .cat-title {
    padding: 10px 20px 0;
}
.cat-wrap .content-box .cat-title {
    padding: 10px 10px 0;
}
.cat-wrap .content-box .cat-title a {
    font-size: 116.67%;
    display: inline-block;
    margin-bottom: 3px;
    }
    .sm-categories .cat-wrap .content-box .cat-title a {
    font-weight: 700;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.full-categories .sm-categories .cat-wrap .content-box .child-cat {
    padding: 0 20px 20px;
}


/* footer css */
.footer-container {
    background-color: #dddddd;
    color: #444444;
    position: relative;
}

.footer-container .footer-block .footer-block-title {
    margin-bottom: 15px;
}
.footer-container .footer-block .footer-block-content .links-footer li a {
    display: inline-block;
   
    padding: 2px 0px;
}
.footer-container a {
    color: rgb(102, 102, 102);
}

.footer-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-container .categories-footer {
    font-size: 91.67%;
    padding: 30px 0px;
    border-top: 1px solid rgb(228, 228, 228);
}

.footer-container .footer-block .footer-block-content .links-footer li a::before {
    content: "ï„";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    font-size: 12px;
    margin-right: 5px;
    font-variant: normal;
}
.footer-container .footer-block .footer-block-content .links-contact li {
    position: relative;
    padding-left: 39px;
    min-height: 30px;
    line-height: 18px;
}
.footer-container .footer-block .footer-block-content .links-contact li.middle-content {
    padding-top: 9px;
    margin: 4px 0px 10px;
}
.footer-container .footer-block .footer-block-content .links-contact li::before {
    position: absolute;
    left: 0px;
    top: 4px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/theme_prixgen/static/src/img/icon-image.png) rgb(150, 150, 150);
    border-radius: 3px;
}

.footer-container .footer-block .footer-block-content .links-footer li a:hover {
    color: rgb(255, 85, 97);
}

.o_footer .text-muted {
    color: rgb(255, 255, 255) !important;
}
.o_footer {
    background-color: #444444 !important;
    color: #ffffff;
}
.o_footer_copyright {
    padding: 0px;
}

/*product section*/
.listingtab-custom {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
    padding: 5px;
    margin-bottom: 20px;
}
.sm-listing-tabs {
    margin: 0;
    padding: 0;
}
.sm-listing-tabs .ltabs-wrap {
    margin: 0;
    position: relative;
    padding: 0;
}
.listingtab-custom .sm-listing-tabs .ltabs-tabs-container {
    border-bottom: 1px solid #ddd;
    position: relative;
    top: auto;
    right: auto;
    margin-bottom: 30px;
}
.listingtab-custom .sm-listing-tabs .ltabs-tabs-container:before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-current-select {
    display: none;
}
.sm-listing-tabs .ltabs-tabs-container .ltabs-tabs {
    display: block;
}
.sm-listing-tabs .ltabs-tabs-container ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.listingtab-custom .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel, .home-page-8 .listingtab-custom .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li:hover {
    color: #333;
}
.listingtab-custom .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li:first-child {
    padding-left: 0;
}
.listingtab-custom .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
    border: none;
    color: #888888;
    font-size: 133.33%;
    font-weight: bold;
    position: relative;
    padding-right: 22px;
    margin-right: 22px;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
    cursor: pointer;
    float: left;
}
.listingtab-custom .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 14px;
    background-color: #888;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
}

.sm-listing-tabs .ltabs-wrap .ltabs-items-container {
    margin: 0;
    padding: 0;}

    .sm-listing-tabs .ltabs-items-container .ltabs-items {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.sm-listing-tabs .ltabs-items-container .ltabs-items-selected {
    display: block;
}


.owl-theme .owl-nav [class*='owl-'] {
    display:none;
}



/* Grid layout */
.grid {
  display: grid;
  grid-auto-columns: 1fr 200px;
}

.content {
  grid-column: 1;
}

.sidebar {
  grid-column: 2;
  margin: 5px;
  padding: 5px;
}

.grid > * {
  border: 0px; /* demo only */
}

/* Product Grid */

body {
  background: #fff;
}

h1 {
  font-weight: 500;
  font-size: 20px
}

ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%;
  /* should match li left margin */
}

ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 0px #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul.rig li img {
  max-width: 80%;
  height: auto;
  margin: 0 0 10px;
}

ul.rig li h3 {
  margin: 0 0 10px;
}

ul.rig li p {
  font-size: 1.0em;
  line-height: 1.5em;
  color: #000000;
}


/* class for 2 columns */

ul.rig.columns-2 li {
  width: 47.5%;
  /* this value + 2.5 should = 50% */
}


/* class for 3 columns */

ul.rig.columns-3 li {
  width: 30.83%;
  /* this value + 2.5 should = 33% */
}


/* class for 4 columns */

ul.rig.columns-4 li {
  width: 22.5%;
  /* this value + 2.5 should = 25% */
}

@media (max-width: 680px) {
  ul.grid-nav li {
    display: inline-block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: inline-block;
    margin: 0 0 5px;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important;
    /* over-ride all li styles */
    margin: 0 0 10px;
  }
}

.fa-2x {
    font-size: 1em;
}